@import '../../assets/styles/colors.scss';
.card {
    display:inline-block;
    
    width: 150px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 2px solid $__white_color;
    border-radius: 15px;
    color: $__white_color;
  }
  .card img {
    max-width: 100px;
    height: 100px;
  }
  #btn{
    background-color: $__blue_color;
    color: $__white_color;
    align-items: center;
    padding: 10px;
    border: 2px double $__white_color;
    border-radius: 20px;
    justify-content: center;
    width: 100%;
  }